<html>
<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>
<body>
<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Foi solicitado uma troca de senha para sua conta GoBarber</p>
    <p>Caso esta solicitação tenha sido feita por você, clique no link abaixo para escolher a nova senha:</p>
    <p>
        <a href="{{link}}">Alterar minha senha</a>
    </p>
    <p>Caso não tenha feito nenhuma solicitação, favor descartar esta mensagem.</p>
    <p>
        Obrigado!<br/>
        <strong>Equipe GoBarber</strong>
    </p>
</div>
</body>
</html>
